.header-image img {
  height: auto;
  max-width: 300px;
  padding: 10px;
}

.header-image {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}


.Collapsible {
  background-color: rgb(93, 180, 93);
  border: solid 1px black;
  padding: 5px;
}

.Collapsible__trigger{
  cursor:pointer;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-row {
  padding: 10px;
  display: flex;
}

.responsive {
  max-width: 100%;
  height: auto;
}
