.edit-button {
    background-color: #5bace4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left:20px;
}

.edit-button a {
    color: white;
    text-decoration: none;
}

.my-rewards-button {
    background-color: #5bace4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:20px;
}

.my-rewards-button a {
    color: white;
    text-decoration: none;
}

.my-profile-heading {
    margin: 20px;
}

.my-activity-map {
    margin: 10px;
}